<!-- wp:group {"align":"wide","style":{"position":{"type":"sticky","top":"0px"}},"backgroundColor":"black","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide has-black-background-color has-background"><!-- wp:template-part {"slug":"header-alt"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:post-content {"align":"full","style":{"spacing":{"blockGap":"0"}},"fontSize":"medium","layout":{"type":"constrained"}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->